.container{
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
}

.navbar{
    background-color: rgb(113, 219, 113) !important;
    min-width: 100vh;
}

