body{
    background-color: darkgreen !important;
}


.container{
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
}

.navbar{
    background-color: rgb(113, 219, 113) !important;
    min-width: 100vh;
}
.upper_line{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 8px;
}
.under_line{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 8px;
}
.question_footer{
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.card{
    width: 24rem;
}
